@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --font-display: var(--font-space-grotesk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101922;
    --foreground: #ededed;
  }
}

.dark {
  --background: #101922;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display), sans-serif;
}